.index-title {
  font-size: 100px;
}

.small-text {
  font-size: 12px;
}

.no-fill {
  font-variation-settings: "FILL" 0,"wght" 400,"GRAD" 0,"opsz" 48;
}

.replyArea {
  width: 100%;
  bottom: 0;
  right: 0;
}